 <div class="seat-main seat-layout-end clearfix no-padding">
    <div class="recital-poster-cont">
        <%= image_tag @recital.poster.url, :class => 'recital-poster' %>
    </div>
    <div class="recital-detail-cont overflow-auto">
        <div class="recital-title font-bolder font-x-large">
            <%= @recital.city %>场
        </div>
        <hr class="hr-recital" />
        <dl class="dl-horizontal">
            <dt class="font-bold align-right">演出日期</dt>
            <dd class="align-left"><%= @recital.start_time.strftime('%m月%d日晚') unless @recital.start_time.nil? %></dd>

            <dt class="font-bold align-right">开场时间</dt>
            <dd class="align-left"><%= @recital.start_time.strftime('%H:%M') %></dd>

            <dt class="font-bold align-right">场馆地点</dt>
            <dd class="align-left"><%= @recital.address + ' ' + @recital.music_hall %></dd>
            
        </dl>
        <hr class="hr-recital" />
        <div class="recital-button-cont">
<!--             <a href="#" class="btn-buy-buy-buy align-center">
                立即购买
            </a> -->
            <%= link_to '查看座位图', recital_areas_path(@recital), :class => 'btn-buy-buy-buy align-center' %>
        </div>
    </div>
</div>

<br />

<div class="recital-description dark-panel">
    <img src="http://api.map.baidu.com/staticimage/v2?ak=dkkklKNbixhyjNldgXPfyaDi">
    详细说明
</div>

<% content_for :header_class do %>continuous<% end %>
<% content_for :breadcumb do %>
<ul class="nav-bar float-left nav-breadcumb">
    <li><%= link_to '首页', '/' %></li>
    <li><%= @recital.city %>场</li>
</ul>
<% end %>