 <div class="outer-container">
 <div class="clearfix no-padding">
 
    <div class="recital-poster-cont">
        <%= image_tag @recital.poster.url, :class => 'recital-poster' %>
    </div>
    
    <div class="recital-detail-cont overflow-auto">
        <div class="clearfix">
            <a class="recital-back-button float-left" href="/">
                <i class="fa fa-chevron-left"></i> 返回
            </a>
            <div class="recital-title align-center font-bolder font-x-large">
                <%= @recital.city %>站
            </div>
        </div>
        <!--<hr class="hr-recital" />-->
        <dl class="dl-horizontal">
            <dt class="font-bold align-right">演出日期</dt>
            <dd class="align-left"><%= @recital.start_time.strftime('%Y年%m月%d日') unless @recital.start_time.nil? %></dd>

            <dt class="font-bold align-right">演出时间</dt>
            <dd class="align-left"><%= @recital.start_time.strftime('%H:%M') %></dd>

            <dt class="font-bold align-right">演出地点</dt>
            <dd class="align-left"><%= @recital.music_hall + ' (' + @recital.address + ')' %></dd>
            
        </dl>
        <!--<hr class="hr-recital" />-->
        <div class="recital-button-cont">
<!--             <a href="#" class="btn-buy-buy-buy align-center">
                立即购买
            </a> -->
            <% if @recital.sold_out? %>
                <%= link_to '已售完', recital_areas_path(@recital), class: 'btn-buy-buy-buy align-center' %>
            <% else %>
                <%= link_to '查看座位图', recital_areas_path(@recital), :class => 'btn-buy-buy-buy align-center' %>
            <% end %>
        </div>
    </div>
</div>
</div>

<% if @recital.id == 1 %>
<br />
<div class="outer-container light-panel">
    <h2 class="align-center">付款注意事项</h2>
    <h3 class="indent line-height-2">成都站门票已开售，下成都站门票订单的用户请于三天内将款项转账到如下支付宝，并注明自己的电话、地址和座位号，以便我们进行邮寄。如若逾期，所有座位将自动退回。十分抱歉由于本站的支付渠道正在审批，暂时只能通过此方法付款，我们会尽快上线对应功能。如有疑问请联系客服:</h3>
    <ul>
        <li>支付宝 - 15519026686</li>
        <li>客服 李先生 手机 - 13984155725</li>
        <li>客服 陈小姐 QQ - 1963378915</li>
    </ul>
</div>
<% end %>

<br />

<div class="outer-container">
    <div class="recital-description dark-panel">
<!--     <img src="http://api.map.baidu.com/staticimage/v2?ak=dkkklKNbixhyjNldgXPfyaDi"> -->
        <div class="recital-location-baidu" id="container"></div>  
    </div>
</div>


<script type="text/javascript" src="http://api.map.baidu.com/api?v=1.4"></script>   

<script type="text/javascript"> 
    var map = new BMap.Map("container");  
    map.centerAndZoom(new BMap.Point(<%= @recital.lat %>, <%= @recital.lng %>), 13);  
    map.enableScrollWheelZoom();  
    var marker=new BMap.Marker(new BMap.Point(<%= @recital.lat %>, <%= @recital.lng %>));  
    map.addOverlay(marker);  
    var licontent="<b><%= @recital.music_hall %></b><br>";
        licontent+="<span><strong>地址：</strong><%= @recital.address + @recital.music_hall %></span><br>";  
        licontent+="<span class=\"input\"><strong></strong><input class=\"outset\" type=\"text\" name=\"origin\" value=\"<%= @recital.city %>站\"/><input class=\"outset-but\" type=\"button\" value=\"公交\" onclick=\"gotobaidu(1)\" /><input class=\"outset-but\" type=\"button\" value=\"驾车\"  onclick=\"gotobaidu(2)\"/><a class=\"gotob\" href=\"url=\"http://api.map.baidu.com/direction?destination=latlng:"+marker.getPosition().lat+","+marker.getPosition().lng+"|name:<%= @recital.music_hall %>"+"®ion=<%= @recital.city %>"+"&output=html\" target=\"_blank\"></a></span>";
 
    var hiddeninput="<input type=\"hidden\" value=\""+'<%= @recital.city %>'+"\" name=\"region\" /><input type=\"hidden\" value=\"html\" name=\"output\" /><input type=\"hidden\" value=\"driving\" name=\"mode\" /><input type=\"hidden\" value=\"latlng:"+marker.getPosition().lat+","+marker.getPosition().lng+"|name:<%= @recital.music_hall %>"+"\" name=\"destination\" />";
 
    var content1 ="<form id=\"gotobaiduform\" action=\"http://api.map.baidu.com/direction\" target=\"_blank\" method=\"get\">" + licontent +hiddeninput+"</form>";
   
    var opts1 = { width: 300 };  
       
    var  infoWindow = new BMap.InfoWindow(content1, opts1);  
    marker.openInfoWindow(infoWindow);  
    marker.addEventListener('click',function(){
        marker.openInfoWindow(infoWindow);
    });  
     
    function gotobaidu(type)  
    {  
        if($.trim($("input[name=origin]").val())=="")  
        {  
            alert("请输入起点！");  
            return;  
        }else{  
            if(type==1)  
            {  
                $("input[name=mode]").val("transit");  
                $("#gotobaiduform")[0].submit();  
            }else if(type==2)  
            {      
                $("input[name=mode]").val("driving");          
                $("#gotobaiduform")[0].submit();  
            }  
        }  
    }    
</script>