 <div class="seat-main seat-layout-end clearfix no-padding">
    <div class="recital-poster-cont">
        <%= image_tag @recital.poster.url, :class => 'recital-poster' %>
    </div>
    <div class="recital-detail-cont overflow-auto">
        <div class="recital-title font-bolder font-x-large">
            <%= @recital.city %>场
        </div>
        <hr class="hr-recital" />
        <dl class="dl-horizontal">
            <dt class="font-bold align-right">演出日期</dt>
            <dd class="align-left"><%= @recital.start_time.strftime('%m月%d日晚') unless @recital.start_time.nil? %></dd>

            <dt class="font-bold align-right">开场时间</dt>
            <dd class="align-left"><%= @recital.start_time.strftime('%H:%M') %></dd>

            <dt class="font-bold align-right">场馆地点</dt>
            <dd class="align-left"><%= @recital.address + ' ' + @recital.music_hall %></dd>
            
        </dl>
        <hr class="hr-recital" />
        <div class="recital-button-cont">
<!--             <a href="#" class="btn-buy-buy-buy align-center">
                立即购买
            </a> -->
            <%= link_to '查看座位图', recital_areas_path(@recital), :class => 'btn-buy-buy-buy align-center' %>
        </div>
    </div>
</div>

<br />

<div class="recital-description dark-panel">
<!--     <img src="http://api.map.baidu.com/staticimage/v2?ak=dkkklKNbixhyjNldgXPfyaDi"> -->
    <div style="width:400px;height:300px;border:1px solid gray" id="container"</div>  
</div>

<% content_for :header_class do %>continuous<% end %>
<% content_for :breadcumb do %>
<ul class="nav-bar float-left nav-breadcumb">
    <li><%= link_to '首页', '/' %></li>
    <li><%= @recital.city %>场</li>
</ul>
<% end %>

<%= javascript_include_tag 'jquery-2.2.0', 'data-turbolinks-track' => true %>

<script type="text/javascript" src="http://api.map.baidu.com/api?v=1.5&ak=byjr8PEVSXNaCz9PgYzEPfLR"></script>   

<script type="text/javascript"> 
    $(document).ready(function () {
        $.get("http://api.map.baidu.com/geocoder/v2/?ak=E4805d16520de693a3fe707cdc962045&callback=renderOption&output=json&address=成都市娇子音乐厅", function(result) {
            console.log(result);
        });
    });
    var map = new BMap.Map("container");  
    map.centerAndZoom(new BMap.Point(104.103301,30.65503), 13);  
    map.enableScrollWheelZoom();  
    var marker=new BMap.Marker(new BMap.Point(104.103301,30.65503));  
    map.addOverlay(marker);  
    var licontent="<b><%= @recital.music_hall %></b><br>";  
        licontent+="<span><strong>地址：</strong><%= @recital.address + @recital.music_hall %></span><br>";  
        licontent+="<span><strong>电话：</strong>(010)63095718,(010)63095630</span><br>";  
        licontent+="<span class=\"input\"><strong></strong><input class=\"outset\" type=\"text\" name=\"origin\" value=\"<%= @recital.city %>站\"/><input class=\"outset-but\" type=\"button\" value=\"公交\" onclick=\"gotobaidu(1)\" /><input class=\"outset-but\" type=\"button\" value=\"驾车\"  onclick=\"gotobaidu(2)\"/><a class=\"gotob\" href=\"url=\"http://api.map.baidu.com/direction?destination=latlng:"+marker.getPosition().lat+","+marker.getPosition().lng+"|name:<%= @recital.music_hall %>"+"®ion=<%= @recital.city %>"+"&output=html\" target=\"_blank\"></a></span>";
 
    var hiddeninput="<input type=\"hidden\" value=\""+'<%= @recital.city %>'+"\" name=\"region\" /><input type=\"hidden\" value=\"html\" name=\"output\" /><input type=\"hidden\" value=\"driving\" name=\"mode\" /><input type=\"hidden\" value=\"latlng:"+marker.getPosition().lat+","+marker.getPosition().lng+"|name:<%= @recital.music_hall %>"+"\" name=\"destination\" />";
 
    var content1 ="<form id=\"gotobaiduform\" action=\"http://api.map.baidu.com/direction\" target=\"_blank\" method=\"get\">" + licontent +hiddeninput+"</form>";
   
    var opts1 = { width: 300 };  
       
    var  infoWindow = new BMap.InfoWindow(content1, opts1);  
    marker.openInfoWindow(infoWindow);  
    marker.addEventListener('click',function(){
        marker.openInfoWindow(infoWindow);
    });  
     
    function gotobaidu(type)  
    {  
        if($.trim($("input[name=origin]").val())=="")  
        {  
            alert("请输入起点！");  
            return;  
        }else{  
            if(type==1)  
            {  
                $("input[name=mode]").val("transit");  
                $("#gotobaiduform")[0].submit();  
            }else if(type==2)  
            {      
                $("input[name=mode]").val("driving");          
                $("#gotobaiduform")[0].submit();  
            }  
        }  
    }    
</script>