
<div class="section-recitals">
    <div class="coverflow-cont">
        <div class="coverflow">
            <div class="coverflow-item">
                <div class="coverflow-content">
                    <div class="coverflow-card">
                        <div class="coverflow-card-image">
                            <%= image_tag 'chengdu.png' %>
                        </div>
                    </div>
                    <div class="coverflow-overlay-text">
                        <button class="recital-detail-btn">查看详情</button>
                        <div class="recital-info-bottom">
                            <div class="coverflow-recital-title">成都站 - 已售完</div>
                            <div>2016 年 2 月 30 日</div>
                        </div>
                    </div>
                    <div class="coverflow-overlay-right recital-info-right">
                        <div class="coverflow-recital-title">
                            成
                            <br />
                            都
                            <br />
                            站
                        </div>
                        <div class="recital-status">
                            售<br />完
                        </div>
                    </div>
                </div>
            </div>
            <div class="coverflow-item">
                <div class="coverflow-content">
                    <div class="coverflow-card">
                        <div class="coverflow-card-image">
                            <%= image_tag 'wuhan.png' %>
                        </div>
                    </div>
                    <div class="coverflow-overlay-text">
                        <button class="recital-detail-btn">查看详情</button>
                        <div class="recital-info-bottom">
                            <div class="coverflow-recital-title">武汉站 - 已售完</div>
                            <div>2016 年 2 月 30 日</div>
                        </div>
                    </div>
                    <div class="coverflow-overlay-right recital-info-right">
                        <div class="coverflow-recital-title">
                            武
                            <br />
                            汉
                            <br />
                            站
                        </div>
                        <div class="recital-status">
                            在<br />售
                        </div>
                    </div>
                </div>
            </div>
            <div class="coverflow-item">
                <div class="coverflow-content">
                    <div class="coverflow-card">
                        <div class="coverflow-card-image">
                            <%= image_tag 'guangzhou.jpg' %>
                        </div>
                    </div>
                    <div class="coverflow-overlay-text">
                        <button class="recital-detail-btn">查看详情</button>
                        <div class="recital-info-bottom">
                            <div class="coverflow-recital-title">广州站 - 已售完</div>
                            <div>2016 年 2 月 30 日</div>
                        </div>
                    </div>
                    <div class="coverflow-overlay-right recital-info-right">
                        <div class="coverflow-recital-title">
                            广
                            <br />
                            州
                            <br />
                            站
                        </div>
                        <div class="recital-status">
                            在<br />售
                        </div>
                    </div>
                </div>
            </div>
            <div class="coverflow-item">
                <div class="coverflow-content">
                    <div class="coverflow-card">
                        <div class="coverflow-card-image">
                            <%= image_tag 'xiamen.jpg' %>
                        </div>
                    </div>
                    <div class="coverflow-overlay-text">
                        <button class="recital-detail-btn">查看详情</button>
                        <div class="recital-info-bottom">
                            <div class="coverflow-recital-title">厦门站 - 已售完</div>
                            <div>2016 年 2 月 30 日</div>
                        </div>
                    </div>
                    <div class="coverflow-overlay-right recital-info-right">
                        <div class="coverflow-recital-title">
                            厦
                            <br />
                            门
                            <br />
                            站
                        </div>
                        <div class="recital-status">
                            在<br />售
                        </div>
                    </div>
                </div>
            </div>
            <div class="coverflow-item">
                <div class="coverflow-content">
                    <div class="coverflow-card">
                        <div class="coverflow-card-image">
                            <%= image_tag 'changsha.jpg' %>
                        </div>
                    </div>
                    <div class="coverflow-overlay-text">
                        <button class="recital-detail-btn">查看详情</button>
                        <div class="recital-info-bottom">
                            <div class="coverflow-recital-title">长沙站 - 已售完</div>
                            <div>2016 年 2 月 30 日</div>
                        </div>
                    </div>
                    <div class="coverflow-overlay-right recital-info-right">
                        <div class="coverflow-recital-title">
                            长
                            <br />
                            沙
                            <br />
                            站
                        </div>
                        <div class="recital-status">
                            在<br />售
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<br />

<ul>
    <% @recitals.each do |recital| %>
        <li>
            <%= link_to recital, :class => 'show' do %>
                <h3><%= recital.city %></h3>
                <p><%= recital.start_time.strftime('%m月%d日晚') unless recital.start_time.nil? %></p>
                <% if recital.sold_out? %>
                    <p>状态: 已售完</p>
                <% else %>
                    <p>状态: 售卖中</p>
                <% end %>
            <% end %>
        </li>
    <% end %>
</ul>

<% content_for(:script) do %>
<script>
    $('.coverflow').cardFlow();
</script>
<% end %>