
<div class="section-recitals">
<!--     <div class="section-title">
        购票
    </div> -->
    <div class="coverflow-cont">
        <div class="coverflow">
            <% if false %>
                <%= render 'visitors/vote_sheet' %>
            <% end %>
            <% @recitals.each do |recital| %>
            <div class="coverflow-item">
                <div class="coverflow-content">
                    <div class="coverflow-card">
                        <div class="coverflow-card-image">
                            <%= image_tag recital.index_image.url %>
                        </div>
                    </div>
                    <div class="coverflow-overlay-text">
                        <% if recital.city != '成都' %>
                            <%= link_to recital_path recital do %>
                                <button class="recital-detail-btn">查看详情</button>
                            <% end %>
                        <% end %>
                        <div class="recital-info-bottom">
                            <% if recital.city != '成都' %>
                                <div class="coverflow-recital-title"><%= recital.city %>站 - 
                                    <% if recital.sold_out? %>
                                        已预订完
                                    <% else %>
                                        正在预订中
                                    <% end %>
                                </div>
                            <% else %>
                                <div class="coverflow-recital-title"><%= recital.city %>站</div>
                                <div class="hide-mobile">
                                    <%= render 'visitors/chengdu_content' %>
                                </div>
                                <button class="recital-detail-btn hide-desktop" data-toggle="modal" data-target="#modal-chengdu-overlay">
                                    查看详情
                                </button>
                                <br />
                            <% end %>
                            <div class="font-larger"><%= (recital.start_time.strftime('%Y 年 %m 月 %d 日') unless recital.start_time.nil?) + ' - ' + recital.music_hall%></div>
                        </div>
                    </div>
                    <div class="coverflow-overlay-right recital-info-right">
                        <div class="coverflow-recital-title">
                            <%= recital.split_city %>
                            <div>站</div>
                        </div>
                        <div class="coverflow-recital-date">
                            <% if recital.start_time %>
                                <div><%= recital.start_time.month %></div>
                                <div>月</div>
                                <div><%= recital.start_time.day %></div>
                                <div>日</div>
                            <% end %>
                            <!--<%= recital.start_time.strftime('%-m 月 %-d 日') unless recital.start_time.nil? %>-->
                        </div>
                        <div class="recital-status">
                            <% if recital.sold_out? %>
                              <% if recital.city != '成都' %>
                                    已<br />预<br />订<br />完
                              <% else %>
                                    已<br />售<br />完
                              <% end %>
                            <% else %>
                              <% if recital.city != '成都' %>
                                    正<br />在<br />预<br />订
                              <% else %>
                                    正<br />在<br />售<br />票
                              <% end %>
                            <% end %>
                        </div>
                    </div>
                </div>
            </div>
            <% end %>

        </div>
    </div>
</div>

<% if false %>
<ul class="clearfix">
    <% @recitals.each do |recital| %>
        <li style="float: left; display: block;">
            <%= link_to recital, :class => 'show' do %>
                <h3><%= recital.city %></h3>
                <p><%= recital.start_time.strftime('%m月%d日晚') unless recital.start_time.nil? %></p>
                <% if recital.sold_out? %>
                    <p>状态: 已售完</p>
                <% else %>
                    <p>状态: 售卖中</p>
                <% end %>
            <% end %>
        </li>
    <% end %>
</ul>
<% end %>

<div class="section-intro">
    <div class="section-title">
        Animenz 介绍
    </div>
    <div class="outer-container clearfix">
        <div class="index-intro-image-cont">
            <%= image_tag 'index-animenz.png', :class => 'index-intro-image' %>
        </div>
        <div class="index-intro-text">
            <section class="intro-paragraph">
                <p>
                动漫钢琴界的大神级人物，德国钢琴家Animenz出生于1991年，现在德国罗斯托克音乐学院攻读钢琴演奏硕士研究生学位。自从09年开始，Animenz开始从事动漫音乐的改编工作，至今已经有110多首成熟作品于网上公布，其中有很多作品点击率甚至超过百万，受到世界各地乐迷的追捧和喜爱，目前在YouTube上的订阅人数已经超过60万（现还在不断增加）。Animenz的世界巡演，于2013年正式开始，其中包括中国、日本、新加坡、马来西亚、美国、台湾、香港等多个国家和地区。
                </p>
            </section>
            <section class="intro-paragraph">
                <p>
                Animenz的改编风格技巧高超，极其华丽辉煌且不失稳重与大气，除了重视作品的还原度之外还加入了非常多原创元素，如古典、爵士、摇滚、现代等风格信手拈来，毫无做作之感。在他的作品当中，时不时会发现李斯特、贝多芬、莫扎特、巴赫、肖邦、拉赫玛尼诺夫、斯克里亚宾、柴可夫斯基等作曲家的影子，但绝不是单纯地生搬硬套而已，他将所有的精华吸收，并将它们完美地融入自己的作品当中，编曲技巧之成熟，令人叹为观止！
                </p>
            </section>
        </div>
    </div>
</div>

<div class="section-intro-video">
    <div class="section-title">Animenz 视频</div>
    <div class="outer-container">
        <div class="index-intro-video-cont">
            <div class="index-intro-video">
                <%= link_to 'javascript:;', :class => 'video-modal', :data => { :avid => @indexVideo.avId } do %>
                    <%= image_tag @indexVideo.screenshot.url(:large) %>
                <% end %>
            </div>
        </div> 
    </div>
</div>

<div class="section-videos">
    <!-- <div class="section-title">Animenz 视频</div> -->
    <div class="outer-container">
        <div class="index-videos clearfix">
            <% @videos.each do |video| %>
            <div class="index-video-item-cont">
                <div class="index-video-item">
                    <%= link_to 'javascript:;', :class => 'video-modal', :data => { :avid => video.avId } do %>
                        <%= image_tag video.screenshot.url(:medium) %>
                    <% end %>
                    <div class="index-video-title">
                        <%= video.slug_candidates %>
                        <div class="index-video-time">
                            <%= video.length %>
                        </div>
                    </div>
                </div>
            </div>
            <% end %>
        </div>
    </div>
</div>

<div class="modal-overlay hidden" id="modal-chengdu-overlay">
    <div class="modal modal-fluid modal-share">
        <h2>成都站</h2>
        <%= render 'visitors/chengdu_content' %>
        <div>
            <button class="button submit-submit-btn submit-submit-btn-ok" data-toggle="modal" data-target="#modal-chengdu-overlay">
                关闭
            </button>
        </div>
    </div>
</div>

<% content_for(:script) do %>
<script>
    $('.coverflow').cardFlow();
</script>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        $('.video-modal').on('click', function (e) {
            var width = 569, height = 440;
            var avId = e.currentTarget.getAttribute('data-avid');

            // var modalElement = createModal(width, height);
            createModal(width, height).insertAdjacentHTML('beforeend',
                '<object width="' + width + 'px" height="' + height +
                'px" classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,40,0"><param name="src" value="http://static.hdslb.com/miniloader.swf?aid=' +
                avId + '&page=1" /><embed width="' + width + 'px" height="' + height +
                'px" type="application/x-shockwave-flash" src="http://static.hdslb.com/miniloader.swf?aid=' +
                avId + '&page=1" /></object>'
            );
        });
    });
</script>
<% end %>