
<div class="section-recitals">
    <div class="coverflow-cont">
        <div class="coverflow">
            <div class="coverflow-item">
                <div class="coverflow-content">
                    <div class="coverflow-card">
                        <div class="coverflow-card-image">
                            <%= image_tag 'poster.png' %>
                        </div>
                    </div>
                    <div class="coverflow-overlay-text">
                        <button class="recital-detail-btn">查看详情</button>
                        <div class="recital-info-bottom">
                            <div class="recital-title">成都站 - 已售完</div>
                            <div>2016 年 2 月 30 日</div>
                        </div>
                    </div>
                    <div class="coverflow-overlay-right recital-info-right">
                        <div class="recital-title">
                            成
                            <br />
                            都
                            <br />
                            站
                        </div>
                        <div class="recital-status">
                            售<br />完
                        </div>
                    </div>
                </div>
            </div>
            <div class="coverflow-item">
                <div class="coverflow-content">
                    <div class="coverflow-card">
                        <div class="coverflow-card-image">
                            <%= image_tag 'poster.png' %>
                        </div>
                    </div>
                    <div class="coverflow-overlay-text">
                        <button class="recital-detail-btn">查看详情</button>
                        <div class="recital-info-bottom">
                            <div class="recital-title">武汉站 - 已售完</div>
                            <div>2016 年 2 月 30 日</div>
                        </div>
                    </div>
                    <div class="coverflow-overlay-right recital-info-right">
                        <div class="recital-title">
                            武
                            <br />
                            汉
                            <br />
                            站
                        </div>
                        <div class="recital-status">
                            在<br />售
                        </div>
                    </div>
                </div>
            </div>
            <div class="coverflow-item">
                <div class="coverflow-content">
                    <div class="coverflow-card">
                        <div class="coverflow-card-image">
                            <%= image_tag 'poster.png' %>
                        </div>
                    </div>
                    <div class="coverflow-overlay-text">
                        <button class="recital-detail-btn">查看详情</button>
                        <div class="recital-info-bottom">
                            <div class="recital-title">广州站 - 已售完</div>
                            <div>2016 年 2 月 30 日</div>
                        </div>
                    </div>
                    <div class="coverflow-overlay-right recital-info-right">
                        <div class="recital-title">
                            广
                            <br />
                            州
                            <br />
                            站
                        </div>
                        <div class="recital-status">
                            在<br />售
                        </div>
                    </div>
                </div>
            </div>
            <div class="coverflow-item">
                <div class="coverflow-content">
                    <div class="coverflow-card">
                        <div class="coverflow-card-image">
                            <%= image_tag 'poster.png' %>
                        </div>
                    </div>
                    <div class="coverflow-overlay-text">
                        <button class="recital-detail-btn">查看详情</button>
                        <div class="recital-info-bottom">
                            <div class="recital-title">厦门站 - 已售完</div>
                            <div>2016 年 2 月 30 日</div>
                        </div>
                    </div>
                    <div class="coverflow-overlay-right recital-info-right">
                        <div class="recital-title">
                            厦
                            <br />
                            门
                            <br />
                            站
                        </div>
                        <div class="recital-status">
                            在<br />售
                        </div>
                    </div>
                </div>
            </div>
            <div class="coverflow-item">
                <div class="coverflow-content">
                    <div class="coverflow-card">
                        <div class="coverflow-card-image">
                            <%= image_tag 'poster.png' %>
                        </div>
                    </div>
                    <div class="coverflow-overlay-text">
                        <button class="recital-detail-btn">查看详情</button>
                        <div class="recital-info-bottom">
                            <div class="recital-title">长沙站 - 已售完</div>
                            <div>2016 年 2 月 30 日</div>
                        </div>
                    </div>
                    <div class="coverflow-overlay-right recital-info-right">
                        <div class="recital-title">
                            长
                            <br />
                            沙
                            <br />
                            站
                        </div>
                        <div class="recital-status">
                            在<br />售
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="index-main">
    <ul class="index-lst-show">
        <% @recitals.each do |recital| %>
            <li>
                <%= link_to recital, :class => 'show' do %>
                    <h3 class="show-title"><%= recital.city %></h3>
                    <p><%= recital.start_time.strftime('%m月%d日晚') unless recital.start_time.nil? %></p>
                    <% if recital.sold_out? %>
                      <p>状态: 已售完</p>
                    <% else %>
                      <p>状态: 售卖中</p>
                    <% end %>
                <% end %>
            </li>
        <% end %>
    </ul>
    <div class="index-pic-cont">
        <div class="pic-slide-cont">
            <div class="pic-slide-section">
<!--                 <img src="static/images/img2.png" />
 -->                <%= image_tag 'img2.png' %>
            </div>
            <div class="pic-slide-section">
                <!-- <img src="static/images/bg.png" /> -->
                <%= image_tag 'bg.png' %>
            </div>
        </div>
        <div class="index-pic-bar">
            <a href="#" class="index-pic-bar-prev"><i class="fa fa-arrow-circle-o-left fa-lg"></i></a>
            <span class="index-pic-bar-indicators">
                <a href="#" data-index="0" class="index-pic-bar-indicator-active"><i class="fa fa-circle-o fa-lg"></i></a>
                <a href="#" data-index="1"><i class="fa fa-circle-o fa-lg"></i></a>
            </span>
            <a href="#" class="index-pic-bar-next"><i class="fa fa-arrow-circle-o-right fa-lg"></i></a>
        </div>
    </div>
</div>

<% content_for :header_class do %>continuous<% end %>
<% content_for :breadcumb do %>
<ul class="nav-bar float-left">
    <li class="nav-bar-left-btn">选择场次</li>
</ul>
<% end %>

<% content_for(:script) do %>
<script>
    $('.coverflow').cardFlow();
      $(function () {
          $('.pic-slide-cont').fullSlide({
              'numberOfSections': 2,
              'direction': 'horizontal',
              'cyclic': true,
              'hasScrollEvent': false,
              
              'slideStart': function (start, end) {
                  $($('.index-pic-bar .index-pic-bar-indicators > *').
                      removeClass('index-pic-bar-indicator-active').get(end)).
                  addClass('index-pic-bar-indicator-active');
              }
          });
          // bind events for indicators
          $('.index-pic-bar .index-pic-bar-indicators > *').on('click', function (e) {
              $('.pic-slide-cont').trigger('fslide-to', parseInt($(this).data('index')));
          });
          $('.index-pic-bar .index-pic-bar-prev').on('click', function () {
              $('.pic-slide-cont').trigger('fslide-prev'); });
          $('.index-pic-bar .index-pic-bar-next').on('click', function () {
              $('.pic-slide-cont').trigger('fslide-next'); });
          // switch pictures automatically
          setInterval(function () {
              $('.pic-slide-cont').trigger('fslide-next'); }, 4000);
      });
</script>
<% end %>