<div class="outer-container">
<%= form_for @order, :html => { :id => 'order-form' } do |f| %>

    <div class="nwui-main submit-main">

        <div class="nwui-header align-center clearfix">
            <%= link_to :back do %>
                <button class="button nwui-back-btn float-left" type="button">返回</button>
            <% end %>
            <!--<button class="button nwui-submit-btn float-right">提交</button>-->
            <div class="nwui-header-title">提交订单</div>
        </div>

        <div class="submit-items-cont">
            <table class="submit-items">
                <colgroup>
                    <col span="1" style="width: 5%;" />
                    <col span="1" style="width: 40%;" />
                    <col span="1" style="width: 30%;" />
                    <col span="1" style="width: 15%;" />
                </colgroup>
                <thead>
                    <tr>
                        <th>#</th>
                        <th>场次</th>
                        <th>区域</th>
                        <th>位置</th>
                        <th>价格</th>
                    </tr>
                </thead>
                <tbody>
                    <% @order.seats.each do |seat| %>
                    <tr>
                        <th>1</th>
                        <td><%= seat.area.recital.city %>站</td>
                        <td><%= seat.area.name %></td>
                        <td><%= seat.get_position %></td>
                        <th>￥<%= seat.price.price %></th>
                    </tr>
                    <% end %>
                </tbody>
            </table>
        </div>

        <div class="submit-lastinfo">
            <!--<div class="submit-subtotal">
                应付总金额：<span class="submit-total">￥<%= @order.price %></span>
            </div>-->
            <br />
            <br />
            <br />
        </div>

    </div>

    <div class="nwui-continue submit-address">
        <div class="order-address-cont align-left">
            <div class="order-address">
                <div class="align-center font-bold">收货人信息</div>
                <div class="addr-input-group">
                    <%= f.text_field :name, { :id => 'submit-input-name', :required => true } %>
                    <%= f.label '姓名', for: 'submit-input-name' %>
                </div>
                <div class="addr-input-group">
                    <%= f.text_field :address, {:id => 'submit-input-addr', :required => true } %>
                    <%= f.label '物流地址', for: 'submit-input-addr' %>
                </div>
                <div class="addr-input-group">
                    <%= f.text_field :phone, { :id => 'submit-input-phone', :required => true } %>
                    <%= f.label '手机号码', for: 'submit-input-phone' %>
                </div>
<!--                 <div class="addr-input-group">
                    <input type="email" id="submit-input-email" required />
                    <label for="submit-input-email">电子邮件</label>
                </div> -->
            </div>
        </div>

        <div class="submit-total-badge">
            <div>总金额</div>
            <div class="submit-total">￥<%= @order.price %></div>
        </div>
    </div>
    <div class="nwui-continue align-center submit-opbar">
        <%= f.submit '提交', class: 'hidden' %>
        <button type="button" id="submit-submit-btn" class="button submit-submit-btn">提交</button>
    </div>
<% end %>
</div>

<div class="modal-overlay hidden" id="modal-share-overlay">
    <div class="modal modal-fluid modal-share">
        <h2>分享到 ...</h2>
        <div class="modal-share-apps">
            <a class="modal-share-app" id="modal-share-qzone" target="_blank">
                <div><i class="fa fa-3x fa-qq"></i></div>
                <div>QQ 空间</div>
            </a>
            <!--<a class="modal-share-app" id="modal-share-wechat">
                <div><i class="fa fa-3x fa-wechat"></i></div>
                <div>朋友圈</div>
            </a>-->
            <a class="modal-share-app" id="modal-share-weibo" target="_blank">
                <div><i class="fa fa-3x fa-weibo"></i></div>
                <div>微博</div>
            </a>
        </div>
        <div><a href="/orders"><button id="modal-share-submit" class="button submit-submit-btn">直接跳过</button></a></div>
        <br />
        <div class="modal-share-hint">分享后截图给客服可包邮哦~</div>
    </div>
</div>

<% content_for :script do %>
<script>

function validatePhoneNumber(phone) {
    // var r = /\d{11}/;
    // www.jianshu.com/p/e8477fdccbe9
    var r = /^1(3[0-9]|4[57]|5[0-35-9]|8[0-9]|7[0687])-?\d{4}-?\d{4}$/;
    return r.test(phone);
}

function submitValidation(e) {
    var phone = document.getElementById('submit-input-phone').value;
    if (!validatePhoneNumber(phone)) {
        alert('电话号码格式有问题，请检查并重试！');
        e.stopImmediatePropagation();
        e.preventDefault();
        return false;
    }
}

document.getElementById('submit-submit-btn').addEventListener('click', submitValidation);
</script>

<script>

function submitFormAjax(form) {
    return $.ajax({
        url: form.action,
        type: form.method,
        data: $(form).serialize()
    });
}

document.getElementById('submit-submit-btn').addEventListener('click', function clickSubmit (e) {
    e.currentTarget.disabled = true;
    submitFormAjax(document.getElementById('order-form'))
        .then(function formSubmitted() {
            document.getElementById('modal-share-overlay').classList.remove('hidden');
            document.body.style.overflow = 'hidden';
        })
        .fail(function formSubmitFailed() {
            alert('提交发生错误，请稍后重试！');
            e.currentTarget.disabled = false;
        });
});
</script>

<!-- share links -->
<script>

function shareWeiboGetLink(url, title, picture) {
    var f = 'http://v.t.sina.com.cn/share/share.php?appkey=';
    var p = [
        '&url=',
        encodeURIComponent(url),
        '&title=',
        encodeURIComponent(title),
        '&source=', '',
        // encodeURIComponent(r),
        '&sourceUrl=', '',
        // encodeURIComponent(l),
        '&content=utf-8',
        '&pic=',
        encodeURIComponent(picture)
    ].join('');
    return [f, p].join('');
}

(function () {
    var shareQzoneArgs = {
        url: 'http://yuxianglishun.cn<%= recital_path(@order.seats[0].area.recital) %>',
        showcount: '1',
        desc: '我购买了<%= @order.seats[0].area.recital.city %> A 叔演奏会的票，快来买票陪我看演奏会吧！', /* what you say by default */
        summary: '', /* description below the link */
        title: 'Animenz 演奏会西南区 - <%= @order.seats[0].area.recital.city %>站', /* Title of the link */
        site: 'Animenz 演奏会西南区', /* source */
        pics: 'http://image.yuxianglishun.cn<%= @order.seats[0].area.recital.index_image.url %>',
        style: '201', width: 113, height: 39
    };
    var s = [ ];
    for (var i in shareQzoneArgs) {
        s.push(i + '=' + encodeURIComponent(shareQzoneArgs[i] || ''));
    }
    var hrefQzone = 'http://sns.qzone.qq.com/cgi-bin/qzshare/cgi_qzshare_onekey?' + s.join('&');
    
    var shareButtonQzone = document.getElementById('modal-share-qzone');
    shareButtonQzone.href = hrefQzone;
    shareButtonQzone.addEventListener('click', function () {
        document.getElementById('modal-share-submit').click(); });
    
    var hrefWeibo = shareWeiboGetLink(shareQzoneArgs['url'], shareQzoneArgs['desc'], shareQzoneArgs['pics']);
    var shareButtonWeibo = document.getElementById('modal-share-weibo');
    shareButtonWeibo.href = hrefWeibo;
    shareButtonWeibo.addEventListener('click', function () {
        document.getElementById('modal-share-submit').click(); });
})();
</script>

<script>
</script>

<script>
(function () {
    var InfoStatus = {
        OK: 0,
        ERROR: 1,
        NOT_COMPLETED: 2
    };
    
    function checkInfo(inputs) {
        var ret = inputs.every(function (id) {
            return ($('#' + id).val().length) !== 0;
        });
        if (!ret) {
            return InfoStatus.NOT_COMPLETED;
        }
        return InfoStatus.OK;
    }
    
    function mutateInfo(infoStatus) {
        switch (infoStatus) {
            case InfoStatus.OK:
                $('.submit-submit-btn').attr('class', 'button submit-submit-btn submit-submit-btn-ok');
                break;
            default:
                $('.submit-submit-btn').attr('class', 'button submit-submit-btn');
                break;
        }
    }
    
    function checkAndMutateInfo(inputs) {
        return mutateInfo(checkInfo(inputs)); }
        
    var inputs = [
        'submit-input-name',
        'submit-input-addr',
        'submit-input-phone'
    ];
        
    inputs.forEach(function (id) {
        $('#'+id).on('keyup', checkAndMutateInfo.bind(null, inputs))
                .on('change', checkAndMutateInfo.bind(null, inputs));
    });
})();
</script>
<% end %>
