<div class="outer-container">
<%= form_for @order do |f| %>

    <div class="nwui-main submit-main">

        <div class="nwui-header align-center clearfix">
            <button class="button nwui-back-btn float-left">返回</button>
            <button class="button nwui-submit-btn float-right">提交</button>
            <div class="nwui-header-title">提交订单</div>
        </div>

        <div class="submit-items-cont">
            <table class="submit-items">
                <colgroup>
                    <col span="1" style="width: 5%;" />
                    <col span="1" style="width: 40%;" />
                    <col span="1" style="width: 30%;" />
                    <col span="1" style="width: 15%;" />
                </colgroup>
                <thead>
                    <tr>
                        <th>#</th>
                        <th>场次</th>
                        <th>区域</th>
                        <th>价格</th>
                    </tr>
                </thead>
                <tbody>
                    <% @order.seats.each do |seat| %>
                    <tr>
                        <th>1</th>
                        <td><%= seat.area.recital.city %>站</td>
                        <td><%= seat.area.name %></td>
                        <th>￥<%= seat.price.price %></th>
                    </tr>
                    <% end %>
                </tbody>
            </table>
        </div>

        <div class="submit-lastinfo">
            <div class="submit-subtotal">
                应付总金额：<span class="submit-total">￥<%= @order.price %></span>
            </div>
        </div>

    </div>

    <div class="nwui-continue submit-address">
        <div class="order-address-cont align-left">
            <div class="order-address">
                <div class="align-center font-bold">收货人信息</div>
                <div class="addr-input-group">
                    <%= f.text_field :name, { :id => 'submit-input-name', :required => true } %>
                    <%= f.label '姓名', for: 'submit-input-name' %>
                </div>
                <div class="addr-input-group">
                    <%= f.text_field :address, {:id => 'submit-input-addr', :required => true } %>
                    <%= f.label '物流地址', for: 'submit-input-addr' %>
                </div>
                <div class="addr-input-group">
                    <%= f.text_field :phone, { :id => 'submit-input-phone', :required => true } %>
                    <%= f.label '手机号码', for: 'submit-input-phone' %>
                </div>
<!--                 <div class="addr-input-group">
                    <input type="email" id="submit-input-email" required />
                    <label for="submit-input-email">电子邮件</label>
                </div> -->
            </div>
        </div>

        <div class="submit-total-badge">
            <div>总金额</div>
            <div class="submit-total">￥<%= @order.price %></div>
        </div>
    </div>
    <div class="nwui-continue align-center submit-opbar">
        <%= f.submit '提交', class: 'button submit-submit-btn' %>
    </div>
<% end %>
</div>
