<div class="outer-container seat-chooser-title">
    <div class="nwui-main clearfix">
        <div class="nwui-header align-center clearfix">
            <%= link_to recital_path @recital do %>
              <button class="button nwui-back-btn float-left">返回</button>
            <% end %>
            <div class="nwui-header-title">选择区域</div>
        </div>
        <!--<div class="area-preview-cont">
            <div class="area-preview">
                <%= image_tag @recital.venue_image %>
            </div>
        </div>
        <div class="area-list-cont">
            <ul class="area-list">
            <% if false %>
                <% @areas.each_with_index do |area, index| %>
                    <li>
                        <%= link_to recital_area_path(@recital, area), :class => "area-list-item" do %>
                            <div class="area-title"><%= index + 1 %>区</div>
                        <% end %>
                    </li>
                <% end %>
            <% end %>
            </ul>
        </div>-->
    </div>
</div>

<%= react_component('SeatChooser', props = { :target => @recital.id.to_s, :maxSeatCount => current_user.try(:admin?) ? -1 : 4 }, html_options = { :id => 'seat-chooser' }) %>
<br />