<div class="outer-container">
    <div class="nwui-main clearfix">
        <%= form_for [@recital, @area], url: new_order_path, method: :get do |f| %>
            <div class="nwui-header align-center clearfix">
                <button class="button nwui-back-btn float-left">返回</button>
                <button class="button nwui-submit-btn float-right">提交</button>
                <div class="nwui-header-title">选择座位</div>
            </div>
            <div class="seat-container">
                <div class="seat-row">
                    <%= f.collection_check_boxes :seat_ids, @area.seats, :id, :sold do |b| %>
                        <span class="seat">
                            <%= b.check_box 'disabled': b.text %>
                            <label class="seat-label"></label>
                        </span>
                    <% end %>
                </div>
                <br />
                <div>
                    <span class="seat">
                        <div class="seat-checkbox" id="seat-example-available"></div>
                        <label for="seat-example-available"></label>
                        <span>可选座位</span>
                    </span>
                    <span class="seat">
                        <div class="seat-checkbox seat-disabled" id="seat-example-unavailable"></div>
                        <label for="seat-example-unavailable"></label>
                        <span>不可选座位</span>
                    </span>
                    <span class="seat">
                        <div class="seat-checkbox seat-checked" id="seat-example-selected"></div>
                        <label for="seat-example-selected"></label>
                        <span>已选座位</span>
                    </span>
                </div>
            </div>
            <div class="seat-info">
                <div class="seat-count-cont">
                    <button class="button seat-btn-clear" type="button">清空</button>
                    目前已选择 <span class="seat-count">0</span> 个座位
                    <%= f.submit '提交', class: 'button' %>
                </div>
            </div>
        <% end %>
    </div>
</div>

<%= react_component('SeatChooser', :target => 'chengdu') %>

<% content_for :script do %>
<script>
    $('label.seat-label').on('click', function (e) {
        var e = $(e.target).parent().children('input[type="checkbox"]');
        e.prop('checked', !e.prop('checked')).change();
        return false;
    });

    $(function () {
        $('.seat-btn-clear').on('click', function () {
            $('.seat input[type="checkbox"]').prop('checked', false).change();
        });
    });

    $(function () {
        var MAX_SEAT_COUNT = 4;
        var seatCount = 0;
        $('.seat > input[type="checkbox"]').on('change', function (e) {
            if (e.target.checked) { seatCount++; } else { if (seatCount > 0) { seatCount--; } }
            if (seatCount >= MAX_SEAT_COUNT) {
                $('.seat > input[type="checkbox"]:not(:checked)').addClass('seat-disabled');
            } else { $('.seat > input[type="checkbox"]').removeClass('seat-disabled'); }

            $('.seat-count').text(seatCount.toString());
        });
    });
</script>
<% end %>
