<%= form_for [@recital, @area], url: new_order_path, method: :get do |f| %>
<div class="seat-main">
    <div class="seat-container">
        <div class="seat-row">
            <%= f.collection_check_boxes :seat_ids, @area.seats, :id, :sold do |b| %>
                <span class="seat">
                    <%= b.check_box 'disabled': b.text %>
                    <label class="seat-label"></label>
                </span>
            <% end %>
        </div>
    <!--<div class="title-secondary">-->
    <div>
        目前已选择 <span class="seat-count">0</span> 个座位
    </div>
</div>
<div class="seat-opbar seat-layout-end">
    <span class="seat-left-bar">
        <span class="seat">
            <div class="seat-checkbox" id="seat-example-available"></div>
            <label for="seat-example-available"></label>
            <span>可选座位</span>
        </span>
        <span class="seat">
            <div class="seat-checkbox seat-disabled" id="seat-example-unavailable"></div>
            <label for="seat-example-unavailable"></label>
            <span>不可选座位</span>
        </span>
        <span class="seat">
            <div class="seat-checkbox seat-checked" id="seat-example-selected"></div>
            <label for="seat-example-selected"></label>
            <span>已选座位</span>
        </span>
    </span>
    <span>
        <button class="button">清空</button>
        <!-- <button class="button">提交</button> -->
        <%= f.submit '提交', class: 'button' %>
    </span>
    <span class="seat-right-bar">
    </span>
</div>
<% end %>


<% content_for :breadcumb do %>
<ul class="nav-bar float-left nav-breadcumb">
    <li><%= link_to '首页', '/' %></li>
    <li><%= link_to @area.name, recital_areas_path() %></li>
    <li>选择座位</li>
</ul>
<% end %>

<script>
    $('label.seat-label').on('click', function(e) {
        var e = $(e.target).parent().children('input[type="checkbox"]');
        e.prop('checked', !e.prop('checked'));
        return false;
    });
</script>