<%#
# Show

This view is the template for the show page.
It renders the attributes of a resource,
as well as a link to its edit page.

## Local variables:

- `page`:
  An instance of [Administrate::Page::Show][1].
  Contains methods for accessing the resource to be displayed on the page,
  as well as helpers for describing how each attribute of the resource
  should be displayed.

[1]: http://www.rubydoc.info/gems/administrate/Administrate/Page/Show
%>

<% content_for(:title) { page.page_title } %>

<header class="header">
  <h1 class="header__heading"><%= content_for(:title) %></h1>
  <div class="header__actions">
    <%= link_to(
      "Edit",
      [:edit, namespace, page.resource],
      class: "button",
    ) %>
  </div>
</header>

<dl>
  <% page.attributes.each do |attribute| %>
    <dt class="attribute-label"><%= attribute.name.titleize %></dt>

    <dd class="attribute-data attribute-data--<%=attribute.html_class%>"
        ><%= render_field attribute %></dd>
  <% end %>

  <dt class="attribute-label">VENUE IMAGE</dt>
  <dd class="attribute-data">
    <%= image_tag page.resource.venue_image.url, width: '300' %>
    <%= form_for [namespace, page.resource] do |f| %>
      <%= f.file_field :venue_image %>
      <%= f.submit value: '更新场馆图' %>
    <% end %>
  </dd>
  <dt class="attribute-label">POSTER</dt>
  <dd class="attribute-data">
    <%= image_tag page.resource.poster.url, width: '300' %>
    <%= form_for [namespace, page.resource] do |f| %>
      <%= f.file_field :poster %>
      <%= f.submit value: '更新海报' %>
    <% end %>
  </dd>
  <dt class="attribute-label">INDEX IMAGE</dt>
  <dd class="attribute-data">
    <%= image_tag page.resource.index_image.url, width: '300' %>
    <%= form_for [namespace, page.resource] do |f| %>
      <%= f.file_field :index_image %>
      <%= f.submit value: '更新首页图' %>
    <% end %>
  </dd>
</dl>

<table class="collection-data">
  <thead>
    <tr>
      <th>姓名</th>
      <th>电话</th>
      <th>地址</th>
      <th>价格</th>
      <th>状态</th>
      <th>订单号</th>
      <th>创建时间</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @orders.each do |order| %>
      <tr class="table__row" data-url=<%= "/admin/orders/#{order.slug}" %> tabindex="0" role="link" >
        <td><%= order.name %></td>
        <td><%= order.phone %></td>
        <td><%= order.address %></td>
        <td><%= order.price %></td>
        <td><%= order.status %></td>
        <td><%= order.slug %></td>
        <td><%= order.created_at.strftime("%Y-%m-%d") %></td>
        <td><%= link_to '编辑', "/admin/orders/#{order.slug}/edit" %></td>
        <td><%= link_to '删除', "/admin/orders/#{order.slug}",
          class: "table__action--destroy",
          method: :delete,
          data: { confirm: '删除该订单？' }
        %></td>
      </tr>
    <% end %>
  </tbody>
</table>
