<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1, width=device-width, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <meta property="qc:admins" content="604123766761501167413056636" />
    <title><%= content_for?(:title) ? yield(:title) : "Animenz 演奏会西南区" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Animenz 演奏会西南区" %>">
    <%= stylesheet_link_tag 'normalize', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag 'font-awesome', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>

    <%= csrf_meta_tags %>
    <!-- Custom Fonts -->
<!--     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"> -->
  </head>
  <body>
    <div class="page-wrapper">
        <%= render 'layouts/navigation' %>
        <%= yield %>
        <div class="footer-push"></div>
    </div>
    <%= render 'layouts/footer' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= yield(:script) %>
  </body>
</html>
